#about{
    border: 3px solid black;
    font-size: 1vw;
    user-select: none;
    background-color: white;
    height: 7vw;
    padding-left: 5px;
    position: absolute;
    left: 5px;
    top: 8.5vw;
    width: 7vw;
    text-align: center;
    transition: height 0.5s;
}

#about.selected{
    background-color: orange;
}

#about.not{
    background-color: white;
}

#image{
    width: 3.5vw;
}

@media screen and (max-width:1000px){
    #about{
        height: 75px;
        width: 65px;
        font-size: 15px;
        top: 90px;
    }
    #image{
        width: 23px;
    }
}

@media screen and (max-height:800px){
    #image{
        display:none;
    }
}