#about{
    border: 3px solid black;
    font-size: 1vw;
    user-select: none;
    background-color: white;
    height: 14vh;
    padding-left: 5px;
    position: absolute;
    left: 2px;
    top: 18vh;
    width: 7vw;
    text-align: center;
    transition: height 0.5s;
}

#about.selected{
    background-color: orange;
}

#about.not{
    background-color: white;
}

#image{
    width: 3.5vw;
}

@media screen and (max-width:1200px){
    /* #image{
        display:none;
    } */

    #about{
        height: 7vh;
    }
}

@media screen and (max-height:800px){
    #image{
        display:none;
    }
}