.false{
    display:none;
}

.true{
    display: show;
    /* filter: invert(1) hue-rotate(180deg); */
}

p{
    text-align:center;
    color: gray;
}

h2{
    text-align:center;
}

.react-pdf__Page__canvas {
    position: absolute !important;
     top: 50% !important;
     left: 50% !important;
     transform: translate(-50%, 0%) !important;
 }
 
 .react-pdf__Page__textContent {
     position: absolute !important;
     top: 50% !important;
     left: 50% !important;
     transform: translate(-50%, 0%) !important;
 }

 @media screen and (max-width:1400px){
    #Doc{
        scale:0.75;
     }
}

@media screen and (max-width:1000px){
    #Doc{
        scale:0.5;
     }
}

@media screen and (max-width:750px){
    #Doc{
        scale:0.40;
     }
}

ul{
    list-style-type: none;
    text-align: center;
}