body {
    background-color: white;
    font-family: proxima nova;
    font-size: 1.5vw;
    padding: 25px;
    margin-left: 10%;
    overflow: auto;
}

@media screen and (max-width:1000px){
    body{
        font-size: 15px;
    }
}