#resume{
    font-size: 1vw;
    user-select: none;
    height: 7vw;
    padding-left: 5px;
    position: absolute;
    left: 5px;
    top: 15vw;
    width: 7vw;
    border: 3px solid black;;
    text-align: center;
    transition: height, top 1s
}

#resume.selected{
    background-color: orange;
}

#resume.not{
    background-color: white;
}

@media screen and (max-width:1000px){
    #resume{
        height: 75px;
        width: 65px;
        font-size: 15px;
        top: 168px;
    }
}

@media screen and (max-height:700px){
    #image{
        display:none;
    }
}